<!DOCTYPE html>
<style>
    body {
        background-color: rgb(244,244,244);
        font-family: Avenir, Tahoma, monospace;
    }

    .header {
        background-color: rgb(255,167,59);
        height: 250px;
    }

    .logo {
        width: 50px;
        margin: auto;
        display: flex;
        padding: 50px;
    }

    .mail-background {
        width: 600px;
        margin: -100px auto;
    }

    .mail-body {
        background-color: white;
        width: 600px;
    }

    .title {
        font-size: 52px;
        letter-spacing: 7px;
        padding: 40px 0px 40px 0px;
        text-align: center;
    }

    .mail-text {
        padding: 0px 5px 40px 20px;
        font-size: 19px;
        color: dimgray;
        text-align: left;
        margin: 10px;
        line-height: 25px;
    }

    .confirm-account {
        background-color: rgb(255,167,59);
        color: white;
        font-size: 20px;
        font-weight: 500;
        padding: 17px;
        margin: 13px 0px 50px 205px;
        border: none;
    }

    .mail-text2, .link-browser, .greetings, .mail-text3 {
        margin: 20px 20px 30px 30px;
        font-size: 19px;
        color: dimgray;
    }

    .mail-text3 {
        line-height: 25px;
        padding: 10px 0 0 0;
    }

    .greetings {
        line-height: 25px;
        padding: 0 0 40px 0;
        color: dimgray;
    }

    .link-browser {
        color: rgb(255,190,108);
    }

    /*CUADRO DE NEED HELP*/

    .help-box {
        background-color: blanchedalmond;
        background-size: 10px 10px;
        padding: 30px;
        margin: 0 0 30px 0;
    }

    .help-text, .link-help {
        font-size: 20px;
        text-align: center;
        display: block;
        line-height: 25px;
    }

    .link-help {
        color: sandybrown;
    }

    /*FOOTER*/

    .footer {
        padding: 0px 0 20px 25px;
        font-size: 14px;
    }

    .dashboard, .LinkToBrowser, .unsubscribe2 {
        color: black;
        font-weight: 600;
    }

    .info {
        margin: 32px 0 0 0;
        padding: 0 0 32px 0;
        line-height: 20px;
    }

    .unsubscribe {
        padding: 0 0 32px 0;
    }

    .address {
        padding: 0 0 40px 0;
    }
</style>
<body>

    <div class="help-box">
        <p class="help-text">
            Onaylamanızı bekleyen bir bakım var. Lütfen bakım portalı sistemine giriş yapıp onaylayınız.
        </p>
    </div>
</body>
